<a href="https://colab.research.google.com/github/ericcurtygiorno/Desafio_Tecnico_OnCase/blob/main/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score


sns.set(rc={'figure.figsize':(6,4)})
import warnings
warnings.simplefilter("ignore")

In [ ]:
train = pd.read_csv('/content/regression_train.csv')
test = pd.read_csv('/content/regression_test.csv')

In [ ]:
train.describe()

,target,X1,X2,X3,X4,X5,X6,X7
count,715.000000,1042.000000,1031.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000
mean,1349.940229,2.421925,-0.460781,52.094329,2.462871,-65.284233,4.381958,-1.287435
std,1593.201095,3.182976,4.426286,31.374828,2.541632,9.033489,3.290306,11.066380
min,0.062551,-8.699406,-13.651540,38.035456,0.002360,-121.450423,0.000000,-69.835905
25%,230.632308,0.170590,-3.307931,47.087106,0.671196,-69.126630,0.000000,-7.830007
50%,808.374368,2.508671,-0.461150,49.972867,1.652609,-65.360660,5.000000,-1.074191
75%,1849.754221,4.540218,2.406651,52.674305,3.361181,-61.187635,8.000000,5.659476
max,10382.469480,12.380693,12.926106,500.000000,18.813009,53.919202,8.000000,30.376348

In [ ]:
test.describe()

,target,X1,X2,X3,X4,X5,X6,X7
count,180.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,1083.167620,2.118804,-0.729926,50.019371,2.570686,-65.634193,4.153257,-1.896956
std,1266.764414,2.924070,4.065920,4.109684,2.456733,7.827388,3.345416,10.133573
min,0.619759,-7.187993,-12.530861,38.282205,0.017793,-123.280755,0.000000,-56.751775
25%,203.306229,0.220241,-3.113019,47.368662,0.798704,-69.361831,0.000000,-7.315595
50%,623.905972,2.038765,-0.816475,50.070453,1.824582,-65.517502,5.000000,-1.918715
75%,1522.742335,4.008733,1.836272,52.659709,3.587555,-61.681399,8.000000,4.315239
max,8270.877273,9.586412,11.610249,65.704951,16.798910,-43.237419,8.000000,27.284085

In [ ]:
train.duplicated().sum()

0

In [ ]:
test.duplicated().sum()

0

In [ ]:
train.isnull().sum()

target    327
X1          0
X2         11
X3          0
X4          0
X5          0
X6          0
X7          0
dtype: int64

In [ ]:
test.isnull().sum()

target    81
X1         0
X2         0
X3         0
X4         0
X5         0
X6         0
X7         0
dtype: int64

In [ ]:
train = train.dropna()

In [ ]:
test = test.dropna()

In [ ]:
X_train = train.drop('target', axis=1)
X_test = test.drop('target', axis=1)
y_train = train['target']
y_test = test['target']

## Normalização das variáveis

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Transformando para dataframe para visualização
X_train = pd.DataFrame(X_train_scaled,columns = X_train.columns)
X_test = pd.DataFrame(X_test_scaled,columns = X_test.columns)

## Regressão Linear

In [ ]:
regLinear = LinearRegression().fit(X_train, y_train)
yLinear = regLinear.predict(X_test)
RMSELinear = mean_squared_error(y_test, yLinear, squared=False)
R2Linear = r2_score(y_test, yLinear)
print("RMSE:", RMSELinear)
print("R2:", R2Linear)

RMSE: 404.20243974379787
R2: 0.8976175245733276

## Support Vector Regression

In [ ]:
regSVR = SVR().fit(X_train, y_train)
ySVR = regSVR.predict(X_test)
RMSESVR = mean_squared_error(y_test, ySVR, squared=False)
R2SVR = r2_score(y_test, ySVR)
print("RMSE:", RMSESVR)
print("R2:", R2SVR)

RMSE: 1252.8082370765107
R2: 0.01644881718107538

## Decision Tree Regression (XGBoost) -> O melhor resultado entre os 3 modelos

In [ ]:
regXGB = XGBRegressor().fit(X_train, y_train)
yXGB = regXGB.predict(X_test)
RMSEXGB = mean_squared_error(y_test, yXGB, squared=False)
R2XGB = r2_score(y_test, yXGB)
print("RMSE:", RMSEXGB)
print("R2:", R2XGB)

[13:50:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE: 97.81524854212032
R2: 0.9940042862521397

## Otimização de Hiperparâmetros

In [ ]:
regXGB.get_params().keys()

dict_keys(['base_score', 'booster', 'colsample_bylevel', 'colsample_bynode', 'colsample_bytree', 'gamma', 'importance_type', 'learning_rate', 'max_delta_step', 'max_depth', 'min_child_weight', 'missing', 'n_estimators', 'n_jobs', 'nthread', 'objective', 'random_state', 'reg_alpha', 'reg_lambda', 'scale_pos_weight', 'seed', 'silent', 'subsample', 'verbosity'])

In [ ]:
parameters = {
    "max_depth": [5, 6, 7],
    "learning_rate": [0.1, 0.2,0.3],
    "objective": ['reg:squarederror'],
    "booster": ['gbtree'],
    "n_jobs": [5],
    "gamma": [0, 1],
    "min_child_weight": [1,3],
    "max_delta_step": [0,1],
    "subsample": [0.5, 1]
}

In [ ]:
xgbGrid = GridSearchCV(XGBRegressor(),parameters, refit= 'neg_mean_squared_error', verbose=True)

In [ ]:
xgbGridModel = xgbGrid.fit(X_train, y_train)

Fitting 5 folds for each of 144 candidates, totalling 720 fits

In [ ]:
xgbGridModel.best_params_

{'booster': 'gbtree',
 'gamma': 0,
 'learning_rate': 0.1,
 'max_delta_step': 0,
 'max_depth': 5,
 'min_child_weight': 1,
 'n_jobs': 5,
 'objective': 'reg:squarederror',
 'subsample': 0.5}

In [ ]:
yGrid = xgbGridModel.predict(X_test)

In [ ]:
MSEGrid = mean_squared_error(y_test, yGrid)
R2Grid = r2_score(y_test, yGrid)

## Resultado Final

### Importância das Features

In [ ]:
regXGB.feature_importances_

array([0.03560435, 0.9467944 , 0.00713695, 0.00781668, 0.00107387,
       0.00157388, 0.        ], dtype=float32)

In [ ]:
X_train.head(1)

         X1        X2        X3       X4        X5        X6        X7
0 -0.103498 -1.353772 -0.170488 -0.82826 -0.166405 -1.414602 -1.353772

In [ ]:
# A variável X2 é a que tem a maior importância no modelo, sendo 94.68% de contribuição para o resultado do modelo.

In [ ]:
# Resultado com os hiperparâmetros otimizados
print('RMSE XGB Grid:', np.sqrt(MSEGrid))
print('R2 XGB Grid:', R2Grid)

RMSE XGB Grid: 88.39489527175544
R2 XGB Grid: 0.9951035408470853

In [ ]:
# Lista com o target observado e o target predito
list(zip(y_test, yGrid))

[(3.436244142616716, 14.586692),
 (1525.839412077425, 1605.8099),
 (455.6001910204114, 450.68774),
 (0.6197594789212001, 17.918169),
 (10.99647244879627, 26.640768),
 (1538.9970024215677, 1566.6284),
 (1120.697908841679, 1081.8884),
 (1131.694281676317, 1169.6913),
 (575.8971789794581, 594.6796),
 (1762.4206341244096, 1749.2473),
 (5187.44557290687, 5690.058),
 (104.50505365594084, 127.13171),
 (1173.3597654695168, 1154.8363),
 (201.81976823714672, 171.47215),
 (1107.155927628755, 1168.8962),
 (850.3374754695748, 867.9772),
 (1042.8765757196827, 964.7497),
 (945.4616414522768, 1022.97235),
 (1572.8164733712586, 1679.6105),
 (1140.5659935610047, 1146.585),
 (110.41457644487686, 137.11166),
 (348.16429278087406, 327.44608),
 (58.29355649815622, 88.73511),
 (4624.417119726351, 4288.9355),
 (505.4668144608417, 508.97327),
 (1877.327031711008, 1951.3376),
 (222.6322000186324, 239.73485),
 (1427.0208292379489, 1461.583),
 (431.3180746626064, 475.36044),
 (4748.364444906259, 4565.1646),
 (2636.2651032307576, 2574.139),
 (70.38144773655121, 80.32806),
 (1242.3648832715044, 1534.7275),
 (215.9828160845412, 213.73914),
 (3289.1721080603093, 3448.983),
 (367.887002809706, 321.5544),
 (245.96521273257991, 222.5965),
 (6.50293703420457, 4.01703),
 (119.16700134040404, 110.96598),
 (640.531300814677, 616.8201),
 (178.10913718821763, 196.23358),
 (1342.1172705652734, 1310.344),
 (2682.8994020150626, 2873.3213),
 (1111.0461510164068, 1231.2144),
 (1663.9396457698672, 1509.7538),
 (1860.9083664902016, 1955.6237),
 (19.098248566400223, 35.599136),
 (2917.476312216967, 2993.2888),
 (98.90172932236068, 96.82464),
 (3901.2250646628618, 3939.8945),
 (925.8101221087448, 937.8335),
 (10.488717016181957, 24.992544),
 (300.3479325920533, 276.3356),
 (105.1448861777333, 106.93387),
 (623.2338285199789, 577.3528),
 (4101.021300879697, 3924.8376),
 (1286.521219626556, 1284.1145),
 (2827.166372209258, 2827.5437),
 (1871.7954777922464, 1760.3724),
 (278.1786144029681, 314.32297),
 (1640.8026990914557, 1599.163),
 (1521.6826007585255, 1494.5972),
 (905.871608681008, 861.6715),
 (1377.4815812988516, 1364.3927),
 (453.13227950844737, 606.7837),
 (2.5717204346927423, 12.195511),
 (66.99201239693436, 81.12749),
 (1223.926532107965, 1225.0176),
 (1552.9009422616678, 1646.292),
 (259.6203256502377, 259.64453),
 (994.6215349851652, 930.44904),
 (1986.904096531056, 2181.2087),
 (89.29918689359003, 104.90744),
 (2287.291111115093, 2390.5024),
 (43.006514471579614, 49.62208),
 (57.26161190609834, 95.05883),
 (3865.788272378166, 3705.2341),
 (838.9174687507928, 807.3829),
 (137.51708647253363, 140.40077),
 (663.1006025723348, 658.0997),
 (5320.563402984448, 5248.6577),
 (516.353031779261, 528.6401),
 (4820.308496278976, 5029.0337),
 (506.66653309784976, 452.65674),
 (907.891804110121, 967.8599),
 (1.9312494097477868, 17.603443),
 (401.1967100741088, 406.67587),
 (3018.529101996119, 2919.172),
 (87.83747444587448, 94.06501),
 (817.908905776323, 825.267),
 (66.78592563470198, 98.320335),
 (1122.6219260051537, 1108.1013),
 (3048.927555618967, 3230.6335),
 (278.7895190576188, 264.50208),
 (2435.8423727306194, 2411.9597),
 (535.443659491045, 523.2379),
 (1067.157350586219, 1045.9034),
 (384.44090286953934, 406.11716),
 (341.35886299515323, 340.89417),
 (1012.516835474897, 1074.565),
 (2394.8932694815, 2270.0254),
 (441.3672686712527, 434.98212),
 (2033.0566752898503, 2449.323),
 (319.81965004592354, 258.4867),
 (92.14960068382447, 103.45622),
 (214.5783836517505, 185.80153),
 (752.4891618641658, 710.6824),
 (3398.4555322491306, 3390.8657),
 (199.4430011297722, 179.85864),
 (950.6681101658538, 933.10614),
 (81.24779611709344, 150.12695),
 (4194.764981217456, 4088.7312),
 (1007.3687334970166, 1048.9114),
 (1883.0179259791323, 2065.5745),
 (848.6569411736027, 839.7565),
 (363.689287734126, 357.21698),
 (113.9481518250504, 139.25417),
 (323.3644256889344, 292.35556),
 (2602.870111202679, 2560.7212),
 (75.64220134838146, 96.48782),
 (973.0700915554708, 983.0219),
 (388.5190763442745, 392.36395),
 (452.78177307662514, 494.42737),
 (101.04519502924062, 99.91189),
 (3469.453045442854, 3412.5798),
 (43.4792482185548, 57.331223),
 (1640.784818259944, 1685.7417),
 (223.55534248501343, 225.89268),
 (641.5998693017646, 643.5912),
 (530.295923506764, 542.3437),
 (966.7916325163025, 1018.8805),
 (0.9886494910863972, 4.203979),
 (153.32506261229275, 180.94334),
 (1216.8928017054966, 1180.661),
 (2078.1832381632125, 2011.0007),
 (993.2011797690903, 953.6646),
 (939.0610031510236, 1003.22504),
 (38.5112086105698, 54.522377),
 (34.870800406044964, 75.22019),
 (1793.120225549212, 1719.3002),
 (971.0874449804884, 1006.714),
 (203.8017161858156, 181.24232),
 (8270.87727258567, 7959.795),
 (1085.5995513930293, 1159.0367),
 (1467.7795536430813, 1351.8187),
 (1462.2193581172428, 1338.8782),
 (551.9831601072522, 571.5564),
 (71.29799958200465, 103.200264),
 (310.32584279706447, 377.3114),
 (1619.528063107471, 1600.5612),
 (66.33494875519627, 105.33098),
 (1925.494574089748, 1843.2273),
 (473.4590024220232, 486.56454),
 (58.77109954279237, 75.30198),
 (611.7332330415297, 668.2971),
 (65.49977045775576, 83.737564),
 (739.4616062979001, 773.2829),
 (1370.67514604392, 1380.3425),
 (44.08624713880697, 77.637215),
 (442.1954219386006, 444.4125),
 (600.4198912120052, 542.29065),
 (408.2682054600908, 439.544),
 (170.78783530712812, 159.32124),
 (1761.6083040430904, 1781.4647),
 (2559.3604453624725, 2611.592),
 (304.2602357926266, 247.4682),
 (568.8310280905444, 563.0719),
 (2239.9636114175555, 2155.4648),
 (315.7010915173157, 301.1339),
 (364.9284926478625, 358.37833),
 (353.8182017242217, 345.8),
 (16.19338507157946, 27.540379),
 (55.31579258526807, 50.04045),
 (300.97560768615193, 262.65155),
 (1911.529343470684, 1856.556),
 (122.67205125710012, 160.73636),
 (1521.7099765989788, 1407.4685),
 (555.7852225859592, 521.73157),
 (624.57811507913, 646.95636),
 (22.858984198344427, 37.8465)]